@font-face {
  font-family: 'chalkWriting';
  src: url('./fonts/KGTenThousandReasons.woff') format('woff'),
       url('./fonts/KGTenThousandReasons.ttf') format('truetype');
}

body {
  background-color:#000;
  font-family: chalkWriting;
  color: #fff;
}

.App {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.App input {
  vertical-align: middle;
  border: 1px solid #37a7e9;
  padding: 10px;
  border-radius: 3px;
  width: 70px;
  font-size: 20px;
}

table {
  font-size: 30px;
}

td {
  letter-spacing: 10px;
  text-align: left;
}

h1 {
  margin-bottom: 10px;
  text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
